.contactPage {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    text-align: center;
}

.contactPage  h2 {
    font-weight: bold;
    text-transform: uppercase;
}